*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

/* .navbar {
    display: inline;
    font-size: 15px;
    padding-right: 90px;
    
} */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10%;
    background-color: #2b2525;
    
    /* background-color: coral; */

    margin-bottom: 70px;

}

.links{
    color: rgb(255, 255, 255);
}


.titulo{
   text-align: center;
   margin-bottom: 70px;
   font-size: 30px;
   font-family: 'Titillium Web', sans-serif;
   color: #2b2525;
   border-bottom: solid 1px;
   border-color: black;
   margin-right: 170px;
   margin-left: 120px;
   padding-left: 50px;

}


.img-fotos {
    width: 180px;
    height: 180px;
    /* box-shadow: 1px 0px 15px rgb(167, 167, 167); */

    border-radius: 20px;
    padding: 10px;


}


 .img-fotos:hover {
    transform: scale(1.20);
    /* box-shadow: -7px 4px 28px -3px rgb(179, 176, 176); */
  }

p {
    text-decoration: none;
    font-family: 'Xanh Mono', monospace;
    color: rgb(80, 74, 74);
}



.parcela {
    text-decoration: none;
    font-family: 'Xanh Mono', monospace;
    color: rgb(80, 74, 74);
}

.preco-avista {
    color: rgb(237, 27, 27);
    align-items: center;
}

.showcase-list {
    text-align: center;
}


.product {
    background-color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin-left: 20px;
    box-shadow: 0 0 21px -16px rgb(0 0 0 / 76%);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.showcase-item {
    display: inline-block;
    vertical-align: top;

    margin-bottom: 35px;
    margin-left: 50px;
    max-width: 270px;
    white-space: normal;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    text-decoration: none;
}

.navbar {
    color: #fff;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a button {
    font-weight: 500;
    font-size: 16px;
}

.logo {
    cursor: pointer;
    width: 100px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: point;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #0088a9
}
